# omitir archivos y carpetas específicos de Spring Boot con Gradle
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar

# omitir archivos y carpetas generados por IDE
/.idea/
/.settings/
*.iml
*.ipr
*.iws

*.class
*.jar
*.war
*.ear
*.jmod
*.jlink

logs/
*.log
*.json
*.out
*.cache
*.ipch
*.sdf
*.suo

# omitir archivos generados automáticamente
*.log
*.lock
*.tmp
*.dat
*.pyc
*.dll
*.so
*.dylib